@media screen and (max-width: 600px) {
    table thead {
        display: none;
    }

    table td {
        display: flex;
    }

        table td::before {
            content: attr(label);
            font-weight: bold;
            width: 120px;
            min-width: 120px;
        }
}

.row-height-50 {
    height: 50px;
}

.row-height-30 {
    height: 30px;
}